{% extends "base.html" %}

{% load repositories %}

{% block title %}
    Repositories
{% endblock %}

{% block content %}
        {% for repo in repos %}
            {% comment %}
            <td><a href="{% url django-git-repo repo.path|name %}">{{ repo.path|name }}</a></td>
            <td>{{ repo.commits.0.message }}</td>
            <td>{{ repo.commits.0.author.name }}</td>
            {% endcomment %}
            <p><a href="{% url 'django-git-repo' repo.git_dir|name %}">{{ repo.git_dir|name }}</a></p>
            {% for commit in repo.iter_commits %}
                {{ commit.message }}
            {% endfor %}
        {% endfor %}
{% endblock %}
